# ZipArchive depency
github "ZipArchive/ZipArchive" ~> 2.1

# From Github (Using Tag for sementic versioning)
github "charlymr/XlsxReaderWriter" ~> 2.4

# Local (Using Branch Name)
#git "../../XlsxReaderWriter" "2.4.0.Beta.4"
